.nav-container {
    display: flex;
  }
  
  .div-item {
    flex: 1; /* This will take up the remaining space */
  }
  
  .chat-item {
    width: 30%;
  }
  .container{
    width: 100vw;
  }
  .container .left{
    width: 20vw;
  }
  .container .right{
    width: 80vw;
  }